<div ng-if="$ctrl.flavor" class="row">
  <div class="col-6">
    Pizza sabor:
  </div>
  <div class="col-6">
    {{$ctrl.flavor.sabor}}
  </div>
</div>
<div class="row">
  <div class="col-12">
    Ingredientes:
  </div>
</div>
<div class="row">
  <div class="col-12">
    <ul class="list-group">
      <li
        class="list-group-item"
        ng-repeat="ingredient in $ctrl.ingredientArray"
      >
        {{ingredient.ingrediente}}
      </li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col-6">
    Borda recheada:
  </div>
  <div class="col-6">
    {{$ctrl.edge.borda}}
  </div>
</div>
<div class="row">
  <div class="col-6">
    Tamanho:
  </div>
  <div class="col-6">
    {{$ctrl.size.tamanho}}
  </div>
</div>
<div class="row">
  <div class="col-6">
    Total a pagar:
  </div>
  <div class="col-6">
    {{$ctrl.total}}
  </div>
</div>
<div class="row">
  <div class="col-6">
    Tempo previsto para entrega:
  </div>
  <div class="col-6">
    {{$ctrl.time}} min
  </div>
</div>
<div ng-if="$ctrl.time > 40" class="row">
  <div class="col-12">
    Desconto de 10%
  </div>
</div>
<button
  type="button"
  class="btn btn-success"
  ng-click="$ctrl.finish()"
>
  Finalizar Pedido
</button>
